@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

header {
    height: calc(100vh - 128px);
    background-color: #1C2431;
}

h1 {
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 40px;
    color: #fff;
    font-weight: 500;
}

.text--accent {
    color: #E50914;
}

/*

NAV

*/

#landing {
    position: relative;
    padding: 0 15px 40px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 4px;
    display: none;
}

.logo__text {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.nav__links {
    display: flex;
}

.nav__link {
    color: #fff;
    margin-left: 32px;
    font-size: 18px;
}

.link__hover--effect {
    position: relative;
    cursor: not-allowed;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    background-color: #fff;
    transition: all 300ms ease;
}

.link__hover--effect:hover:after {
    left: 0;
    width: 100%;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1200px;
}

.search__heading {
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.input__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 2px solid #E50914;
}

.search__bar {
    max-width: 600px;
    width: 100%;
    height: 60px;
    padding-left: 25px;
    font-size: 20px;
    border: 0px solid #E50914;
    background-color: transparent;
    color: #fff;
}

.search__bar::placeholder {
    color: #C5C5C5;
}

.search__bar:focus {
    outline: none;
}

.search__icon--wrapper {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(25%);
    padding: 0 20px 0 8px;
    height: 60px;
    cursor: pointer;
}

.search__icon {
    color: #E50914;
    height: 32px;
    width: 32px;
    transition: all 200ms ease;
}

.search__icon:hover {
    color: #0ef6cc;
}

.overlay {
    background-image: url(assets/overlay__background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #242424;
    opacity: 83%;
    pointer-events: none;
}


/* 

SEARCH

*/


#search {
    height: calc(100vh - 348px);
    background-color: #242424;
}

.container {
    background-color: #242424;
    padding: 40px 35px;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.search--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 20px;
}

.search__results {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

#filter {
    border-radius: 8px;
    border: 1px solid #dcdfe6;
    color: #606266;
    font-size: 16px;
    outline: none;
    padding: 6px 16px;
    cursor: pointer;
    margin-left: 8px;
}

/* 

MOVIES 

*/

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 25%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.movie__img--wrapper {
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    transition: .3s;
}

.movie__img--wrapper:hover {
    box-shadow: 0 0 16px 1px #fff;
}

.movie__img:hover {
    transform: scale(1.03);
}

.movie__img {
    max-height: 380px;
    width: 100%;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.movie__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie__title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.movie__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.movie--year {
    font-weight: 500;
    margin-left: 8px;
}


/* 

LOADING 

*/

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: #E50914;
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.primary--accent {
    color: #E50914;
}


/* 

TABLETS, SMALL LAPTOPS 

*/


@media (max-width: 900px) {
    .movie {
        width: 50%;
    }

    #search {
        height: calc(100vh - 352px);
    }

    .movie__img {
        max-height: none;
    }

    .content__wrapper {
        padding: 0 20px;
    }

    .search__heading {
        font-size: 40px;
    }
}


/* 

SMALL PHONES, LARGE SMARTPHONES 

*/

@media (max-width: 550px) {
    .nav__link {
        display: none;
    }

    .search__heading {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .input__wrapper {
        max-width: 400px;
    }

    .search--wrapper {
        padding: 0 0 10px;
    }

    .search__results {
        font-size: 20px;
    }

    #search {
        height: calc(100vh - 332px);
    }
    
    #filter {
        padding: 3px 16px;
    }

    .movie {
        width: 100%;
    }

    .movie__img {
        max-height: none;
    }

    .movie__title {
        font-size: 18px;
    }

    .movie--year {
        font-size: 18px;
    }
}